{% extends "layout.html" %}

{% block search %}
    {% include "gamme/_search.html" %}
{% endblock  %}


{% block main %}
<div class="content-wrapper">
    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">Gestion des gammes</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% include "flash_message.html" %}
        </div>
    </div>
    <!-- Page Title Header Ends-->
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">Liste des gammes</h4>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <a href="/gamme/ajouter" class="btn btn-primary ">Ajouter gamme</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Image </th>
                                <th> Gamme </th>
                                <th> Categorie</th>
                                <th class="text-center" colspan="2"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if gammes %}
                            {% for row in gammes %}
                            <tr>
                                <td>
                                    <img style="width: 120px; height: 120px;" src="{{ row[3] }}" />
                                </td>
                                <td> {{ row[2] }} </td>
                                <td> {{ row[6] }} </td>

                                <td class="text-right">
                                    <a href="/gamme/modifier/{{ row[0] }}" class="btn btn-info ">Modifier</a>
                                </td>
                                <td class="text-left">
                                    <form action="{{ url_for('gamme_supprimer', id=row[0]) }}" method="post"
                                        onsubmit="return confirm(' Supprimer gamme ?');">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>


                            </tr>

                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">
                                    Aucune gamme
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}